.login-page {
  width: 100vw;
  height: 100vh;
  background: #494ceb;
}

.login-page .login-container {
  width: 600px;
  height: 500px;
  background: #FBFBFB;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 66px;
  padding-left: 60px;
}

.login-page .login-container .login-wel {
  color: #0049b0;
  font-size: 28px;
}

.login-page .login-container .login-title {
  color: #0049b0;
  font-size: 30px;
}
