.login-page {
  width: 100vw;
  height: 100vh;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page .login-container {
  width: 600px;
  height: 500px;
  background: #FBFBFB;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 66px;
  padding-left: 60px;
}

.login-page .login-container .login-wel {
  color: #0049b0;
  font-size: 28px;
}

.login-page .login-container .login-title {
  color: #0049b0;
  font-size: 30px;
}

.login-page .login-container .login-input {
  width: 420px;
  height: 36px;
  margin-top: 36px;
  line-height: 36px;
  border-bottom: 1px solid #e5e8ec;
  margin-top: 36px;
}

.login-page .login-container .login-input .login-textarea {
  color: rgba(0, 0, 0, 0.45);
  width: 200px;
  height: 21px;
  line-height: 21px;
  vertical-align: middle;
  outline: none;
  border: none;
  margin-left: 5px;
  display: inline-block;
  font-size: 14px;
}
