.recover-container {
  padding-top: 25px !important;

  .recover-input {
    margin-top: 25px !important;
    .recover-button{
      width: 90px;
      height: 28px;
      background-color: $c-b0;
      color: #fff;
      font-size: 14px;
      opacity: .8;
      border: none;
      margin-top: 0;
      margin-right: -2px;
      padding: 0;
      line-height: 28px;
    }
  }
}