@import './Login/Login.scss';

.icon-svg {
    width: 1.4em;
    height: 1.4em;
    // font-weight:bold;
    vertical-align: -0.25em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 10px;
  }
  