@import './App.scss';
@import './common/common.scss';

body{
  background-color: #FBFBFB !important;
}

div, ul, li, span, input, p {
  margin: 0;
  padding: 0;
}
body, html, div, p, span, h1, label {
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}

textarea {
  resize: none;
}

::-moz-placeholder {
  font-weight: 100;
}
::-webkit-input-placeholder {
  font-weight: 100;
}
:-ms-input-placeholder {
  font-weight: 100;
}