@import './color.scss';
.db {
    display: inline-block;
  }
  
  .flex {
    display: flex;
  }
  
  .fr {
    float: right;
  }

  //下拉按钮
  .cp {
    cursor: pointer;
    text-decoration: none !important;
  }